html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #042940;
  font-family: "Open Sans", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
}

.header {
  display: inline-block;
  width: 100vw;
  margin: auto;
  height: 10vh;
  line-height: 10vh;
}

.header img {
  vertical-align: middle;
  margin-left: 3vw;
}

.navOptions {
  float: right;
  width: 30vw;
}

.navOptions a {
  text-decoration: none !important;
  float: left;
  margin: 0vw 1vw;
  font-size: 25px;
  color: white;
}

.content {
  row-gap: 0.8vh;
  column-gap: 0.8vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 90vh;
  background-color: #042940;
}

.gridHome {
  display: grid;
  align-items: center;
  grid-template-columns: 5vw 15vw 5vw;
  grid-template-rows: 35vh 8vh;
  margin-bottom: 15vh;
}

.divBotao1 {
  display: grid;
  align-items: center;

  width: 5vw;
  height: 35vh;
}

.setaEsquerda {
  position: absolute;
  width: 4vw;
  height: 3vh;
  transform: rotateY(180deg);
  margin-left: 0.7vw;
  cursor: pointer;
}

.linkImagem,
.imagem {
  height: 35vh;
  width: 15vw;
}

.divBotao2 {
  display: grid;
  align-items: center;
  width: 6vw;
  height: 35vh;
}

.setaDireita {
  position: absolute;
  width: 4vw;
  height: 3vh;
  margin-left: 0.7vw;
  cursor: pointer;
}

.name {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 25.5vw;
  font-size: 4vh;
  color: white;
  font-weight: 500;
  grid-row: 2 / span 2;
  grid-column: 1 / span 3;
  margin-right: 0.5vw;
}
.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

/* SOBRE */
main {
  margin-left: 3vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 2.5vh;
  column-gap: 1vw;
}

.container {
  background-color: white;
  width: 30vw;
  height: 40vh;
  border-radius: 0.3vw;
}

.container2 {
  display: flex;
  border-radius: 0.8vw;
}

.card {
  margin-right: 0.5vw;
  margin-left: 1vw;
  margin-top: 4vh;
  height: 15vh;
}

h1 {
  margin-top: 3vh;
  margin-left: 3vh;
  font-weight: bolder;
}

h2 {
  margin-right: 0.6vh;
  margin-top: 0.8vh;
  margin-left: 0.8vh;
  font-weight: bold;
  font-size: 1rem;
}

h4 {
  margin-top: 7vh;
  margin-left: 0.5vw;
  font-size: 0.7rem;
}

.interesses {
  background-color: rgb(248, 157, 147);
}

.influencias {
  background-color: rgb(151, 184, 151);
}

.metas {
  background-color: aqua;
}

.necessidadesExpectativas {
  background-color: goldenrod;
}

.motivacoes {
  background-color: rgb(233, 194, 233);
}

.doresFrustracoes {
  background-color: rgb(240, 206, 122);
}

/* ------- */
